/*// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
.cartindex {
border: 2px solid black;
margin-left: -1px;
padding-bottom: 50px;
}