/*// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
.cartindex {
  border: 2px solid black;
  padding-bottom: 50px;
  position: fixed;
  margin-left: 950px;
  padding: 10px;
}

.productindex {
  list-style: none;
  border: 1px solid black;
  float: left;
  padding: 10px;
}

.imageindex {
  width: 410px; 
  height: auto;
}
.container {
  border: 1px solid purple;
}